<h1>このアプリについて</h1>
<p>
  このアプリは青森商業高校と青森大学と共同で制作した、青商祭のためのフリーペーパーWebアプリケーションです。
</p>

  制作者<br>
  青森商業高校情報処理科3年
  <ul>
  	<li>小笠原</li>
  	<li>川口</li>
  	<li>古村</li>
  	<li>佐々木</li>
  	<li>神</li>
  	<li>鈴木</li>
  	<li>近澤</li>
  	<li>西澤</li>
  </ul>
  青森大学ソフトウェア情報学部4年
  <ul>
  	<li>石川</li>
  </ul>

</p>