<% provide(:title, '3学年') %>
<h1>3学年模擬店</h1>

<h2>KFC</h2>
<p>あげアイス・からあげ販売</p>

<h2>粉ざんまい</h2>
<p>棒パン・カレーパン・パンケーキ販売</p>

<h2>TAM TAM</h2>
<p>タピオカ・あげたこ焼き・お好み焼き</p>

<h2>Flal moun店</h2>
<p>ジャージャー麺・ソフトフローズン・ジュース・こんにゃく・フランクフルト販売</p>

<h2>YUMMY MART</h2>
<p>肉うどん・ホットドック・ピザ・ジュース販売</p>

<h2>青商物語</h2>
<p>醤油ラーメン・シューアイス販売</p>