<% provide(:title, '2学年') %>
<h1>2学年『青商市場』</h1>

<p>〜ここに2学年『青商市場』の紹介文が入ります〜</p>

<ul data-role = "listview" data-inset="true">
	<% @homerooms.each do |homeroom| %>
		<li><%= homeroom.shop_name %><%= homeroom.id %>
			</li>
	<% end %>
</ul>