<% provide(:title, 'PTA') %>
<h1>PTA・モータースクール展示</h1>

<p>〜ここに紹介文が入ります〜</p>

<ul data-role = "listview" data-inset="true">
	<% @homerooms.each do |homeroom| %>
		<div data-role="collapsible">
			<h2><%= homeroom.shop_name %></h2>
			<p><%= homeroom.content %></p>
			<p><%= homeroom.menu %></p>
		</div>
	<% end %>
</ul>