<% provide(:title, '2学年') %>
<h1>2学年『青商市場』</h1>

<h2>里村おばさんのフルーツショップ</h2>
<h3>（うまうまピ〜ヤ）</h3>
<p>嶽きみ・果物販売</p>

<h2>ベジリーマート（ベジマ）</h2>
<p>野菜販売</p>

<h2>Creamy manabu!!<br>〜カシスを添えて〜</h2>
<p>カシス大福・青商かまぼこ販売</p>

<h2>ボン・スズQ</h2>
<p>パンプキンパイ・チーズカスタードパイ販売</p>

<h2>おいでよべべの森<br>THE☆Sweet Paradise</h2>
<p>洋菓子販売</p>

<h2>ミスタードーナツ 青商店</h2>
<p>ドーナツ販売</p>
