<% provide(:title, '文化部展示') %>
<h1>文化部展示</h1>

<p>〜ここに文化部の展示の紹介文が入ります〜</p>

<ul data-role = "listview" data-inset="true">
	<% @homerooms.each do |homeroom| %>
		<div data-role="collapsible">
			<h2><%= homeroom.shop_name %></h2>
			<p><%= homeroom.content %></p>
			<p><%= homeroom.menu %></p>
		</div>
	<% end %>
</ul>