<% provide(:title, @user.name) %>

<% if @homeroom.posts.any? %>
    <h3>記事一覧 (<%= @homeroom.posts.count %>)</h3>
    <ol class="posts">
        <%= render @posts %>
    </ol>
<% else %>
	<h3>記事は有りません。</h3>
<% end %>