<div data-role="header">
	<% if current_user %>
		<%= link_to "マイページ", current_user %>
	<% else %>
		<%= link_to "ホーム", root_path %>
	<% end %>
<h1><%= full_title(yield(:title)) %></h1>

<%= link_to "メニュー", "#navpanel" %>
</div>